* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 1px solid gold;

}
h1 {
    text-align:center;
  }

h2 {
    text-align: center;
}

body {
    background-color: #0ad;;

}

.question-container {
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    justify-content:space-evenly

}

.info-bar {}

.timer {
    color: white;
    background-color: grey;
    font-size: 1.3em;
    float: right;

}

.highscore-button {

    outline: none;
    background-color: white;
    color: black;
    font-size: 1.3em;

}

.question-box {
    background-color: black;
    height: 85vh;
    width: 60%;
    padding-top: 50px;

}

main {}

.question-screen {


}
ul {
    text-align:center;
    list-style-type:none;
    font-size: 40px;
    border: 10px solid blue;
  }

li {

}

.quiz-complete-screen {
    display: none;
}

.highscore-screen {
    display: none;
}



 #scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
 */
