* {
    margin: 0%;
    padding: 0%;
}
body {
    justify-content: center;
    background-image:url(./Java-Script3.jpg);

}





.question-container {
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    justify-content:space-evenly;
    

}

.info-bar {
  border-color:  gold;
}

.timer {
    color: white;
    background-color: grey;
    font-size: 1.3em;
    float: right;

}

.highscore-button {

    outline: none;
    background-color: white;
    color: black;
    font-size: 1.3em;

}
.start-button {
border-style: solid 5px black; 
}

.question-box {
    color:white;
    background-color: black;
    height: 85vh;
    width: 60%;
    padding-top: 50px;
 }
.question-Box ul li {

  list-style-type: none;
}
main {}

.question-screen {


}


.quiz-complete-screen {
    display: none;
}

.highscore-screen {
    display: none;
}



 #scroll-container {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
 */
