* {
    margin: 0%;
    padding: 0%;
}
navbar {
  flex-basis:content;
  justify-content: space-around;
}
body {

    justify-content: center;
    background-image:url(./Java-Script3.jpg);
    
    /* background-color: black; */
  }

  .info-bar {
    border-color:  gold;
    background-clip: border-box;
    background-color: white;
  }

  .question-container {
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    background-color: black;
    justify-content: flex-end;
    background-clip: border-box;

    }

    .timer {
      font-size: .5 em;
      float: right;
      
      flex-direction:row;
      order: 5;
    }

      .question-screen {
background-color: black;
    }
  



.question-box {
    color:white;
    background-color: black;
    justify-content: center;
   flex-wrap: wrap;
 }
 
.question-Box a li {
  list-style-type: none;
  text-align: center;
  font-size: x-large;

}
.answerbox {
  font-size: large;
}
.answerlist {
  background-color: black;
}

.quiz-complete-screen {
    display: none;
}

#highscore-screen {
  justify-content: center;
    display: none;
    list-style-type: none;

}



 /* #scroll-container {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
} */


#scroll-text {

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  text-align: center;
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 5s linear infinite;
}

for Firefox
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
 */ */
