* {
    margin: 0%;
    padding: 0%;
}
navbar {
  flex-basis:content;
  justify-content: space-around;
}
body {

    justify-content: center;
    background-image:url(./Java-Script3.jpg);
    
    /* background-color: black; */
  }

  .info-bar {
    border-color:  gold;
    border-width: 5rem;
    background-color: white;
    margin-bottom:-10rem
  }

  .question-container {
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    background-color: black;
    justify-content: flex-end;
    }

    .timer {
      font-size: .5 em;
      float: right;
      
      flex-direction:row;
      order: 5;
    }

      .question-screen {
background-color: black;
    }
  



.question-box {
    background-color: black;
    color:white;
    justify-content: center;
   flex-wrap: wrap;
 }
 
.question-Box ul li {
  list-style-type: none;

}
.answerbox {
  font-size: large;
}

.quiz-complete-screen {
    display: none;
}

.highscore-screen {
    display: none;
}



 /* #scroll-container {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
} */


#scroll-text {

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

for Firefox
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
 */ */
